<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="/" style= "color:black;">MarketHero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style= "color:black;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart" style= "color:black;">Cart</a>
      </li>
      if !user
        <li class="nav-item">
          <a class="nav-link" href="/register" style= "color:black;">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style= "color:black;">Login</a>
        </li>
      if user
        <li class="nav-item">
          <a class="nav-link" href="/logout" style= "color:black;">Logout</a>
        </li>
    </ul>
    
  </div>
</nav>
